@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}
.header-image {
  height: 72px;
}
.header-menu {
  display: flex;
  gap: 32px;
}
.header-menuOpener {
  display: none;
}
.header-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #fff2e7;
  font-size: 18px;
}

.content {
  border-top: 0.4px solid #fff2e7;
  margin-bottom: 48px;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-content-written {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.main-content-written-title {
  font-family: 'Righteous', cursive;
  font-size: 64px;
  font-weight: 400;
  color: #fff2e7;
}
.main-content-written-subtitle {
  font-family: 'Sarala', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ecd6c4;
}
.main-content-written-button {
  width: 185px;
  height: 67px;
  border: none;
  outline: none;
  background-color: #ecd6c4;
  font-family: 'Sarala', sans-serif;
  font-size: 24px;
  font-weight: 400;
  border-radius: 20px;
  color: #2f2325;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.main-content-written-button:hover {
  background-color: rgba(236, 214, 196, 0.53);
}
.secondary-content {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.secondary-content-title {
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #fff2e7;
  margin-bottom: 16px;
}
.secondary-content-paragraph {
  font-family: 'Sarala', sans-serif;
  font-size: 18px;
  color: #ecd6c4;
}

.footer {
  border-top: 0.4px solid #fff2e7;
  padding: 32px;
}
.footer-image {
  height: 48px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .content {
    padding: 0 20px;
  }
  .main-content-written-title {
    font-size: 48px;
  }
  .main-content-written-subtitle {
    font-size: 18px;
  }
  .main-content-written-button {
    width: 160px;
    height: 55px;
  }
  .main-content-image {
    height: 350px;
    margin-left: 12px;
  }
  .secondary-content {
    align-items: flex-start;
  }
  .secondary-content-title {
    align-self: center;
  }
  .secondary-content-paragraph {
    font-size: 16px;
  }
  .footer-image {
    height: 40px;
  }
}

@media (max-width: 426px) {
  .main-content {
    flex-direction: column;
  }
  .main-content-written {
    align-items: center;
  }
  .main-content-written-title {
    font-size: 42px;
  }
  .main-content-written-subtitle {
    font-size: 17px;
  }
  .main-content-written-button {
    width: 150px;
    height: 55px;
  }
  .main-content-image {
    margin-left: 0;
  }
  .header {
    justify-content: space-between;
  }
  .header-menuOpener {
    display: block;
  }
  .header-menu {
    flex-direction: column;
    position: absolute;
    width: 70vw;
    background-color: #8e5d52f6;
    top: 120px;
    right: 0px;
    gap: 16px;
    padding: 20px;
    z-index: 2;
    display: none;
  }
  .header-menu-item:hover {
    text-decoration: underline;
  }
}

@media (max-width: 325px) {
  .main-content-image {
    width: 280px;
  }
}
